body {
	background: #2f2f2f;
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
	color: #999;
  font-size: 0.8em;
  padding: 0 10px 10px 10px;
  margin: 0;
}

#flash {
  width: 469px;
  background-color: #000;
}

.notify {
  color: #11dd11;
  padding: 10px;
  margin-bottom: 10px;
}

.error {
  color: #dd1111;
  padding: 10px;
  margin-bottom: 10px;
}

a {
  color: #fff;
}

a.action {
  float:right;
  margin-right:10px;
}

table {
  border-spacing: 0;
  background: #222;
  clear: both;
  width: 489px;
  margin-bottom: 10px;
}

td {
  padding: 10px;
}

td.form-container {
  background-color: #2f2f2f;
}

.data {
  text-align: center;
}

th {
  padding: 10px;
  text-align: left;
}

th.name-heading {
  width: 150px;
}

th.color-heading {
  width: 50px;
}

th.expansion-heading {
  width: 70px;
}

th.total-heading {
  width: 35px;
}

h2 {
  margin: 0 0 10px 0;
  padding: 0;
}

form {
  margin: 0 0 10px 0;
  padding: 0;
}

form .total {
  width: 30px;
}

form.inline {
  margin-bottom: 0;
}

form .name {
  width: 197px;
}

ul.list form {
  margin-bottom: 0;
}

p {
  margin: 0;
  padding: 0;
}

.alt {
  background: #262626;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0 0 10px 0;
  overflow: hidden;
}

ul.list {
  width: 489px;
  background: #222;
}

ul.nav {
  margin-top: 10px;
  width: 100%;
}

li {
  padding: 10px;
}

ul.nav li {
  background: #222;
  float:left;
  margin-right: 10px;
}

.loading {
  background-image: url('/images/spinner.gif');
  background-repeat: no-repeat;
  height: 23px;
}

.loading form {
  display: none;
}

td.loading {
  background-position: 244px 10px;
  height: 12px;
}

li.loading {
  background-position: 244px 13px;
  height: 16px;
}

.pagination {
  margin-bottom: 10px;
}

.deck {
  float: left;
}