<%= f.hidden_field :deck_id %>
<p>
  <%= f.select :card_id, option_groups_from_collection_for_select(colors, 'cards', 'name', 'id', 'titleized_name') %>
  <%= f.text_field :total, :class => 'total' %>
  <%= f.submit 'Save' %>
</p>