<h2><%= @deck.name.upcase %></h2>
<% form_for(@pick) do |f| %>
  <%= render "picks/form", :f => f, :colors => @colors %>
<% end %>
<table id="picks-table">
  <%= render "picks/table", :picks => @picks %>
</table>